@model List<wsad_app.Models.Inventory.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Name
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@for (int i = 0; i< Model.Count;i++) {
    <tr>
        <td>
            @Html.HiddenFor(model => Model[i].Id)
            @Html.CheckBoxFor(model => Model[i].IsSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].UnitPrice.ToString(""))
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= Model[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id= Model[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id= Model[i].Id })
        </td>
    </tr>
}

</table>
<button type="submit" class="btn btn-primary"></button>