@model List<wsad_app.Models.Inventory.ProductViewModel>

@{
    ViewBag.Title = "Products";
}
<br />
<br />
<h2>Products</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(model => Model[i].Id)
                    @Html.CheckBoxFor(model => Model[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Description)
                </td>
                <td></td>
            </tr>
        }

    </table>

    <button type="submit" class="btn btn-primary">Add To Cart</button>
}
